.features {
    grid-column: full-start/full-end;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    align-items: center;
    @media only screen and (max-width: $bp-md){
        grid-column: full-start/full-end;
        grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
    }
    @media only screen and (max-width: $bp-sm){
        grid-column: full-start/full-end;
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));

       
    }
}

.feature{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2.5rem;

    
    
    &__title {
        text-align: center;
        grid-column: 1/-1;
        text-transform: uppercase;
        font-size: 1.6rem;
        @media only screen and (max-width: $bp-md){
            font-size: 1.3rem;
        }
    }
    &__text {
        font-size: 1.4rem;

        grid-column: 1/-1;
        padding: 1.2rem;
        white-space: pre-wrap;
    }
    &__icon {
        fill: $color-primary;
        max-width: 4.5rem;
        height: 4.5rem;
        grid-row: 1/ span 2;
        transform: translasteY(-1rem);
    }
    &__img {
        width: 100%;
        grid-column:1/-1;
    }
    &__btn {
        justify-self: center;
        grid-column: 1/-1;
    }
}