.footer {
  background-color: $color-black;
  color: $color-primary-dark;
  font-size: 3rem;
  padding: 4rem;
  grid-column: 1/-1;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1.5rem;
  align-items: center;
  &__link:visited,
  &__link:link {
    font-size: 1.4rem;
    //for miami vice theme
    color: $color-tertiary;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
    display: block;
    transition: all 0.3s;
  }
  &__link:hover,
  &__link:active {
    background-color: rgba($color-white, 0.1);
    //color: $color-primary-dark; MIAMI VICE THEME
    color: $color-secondary;
    transform: translateY(-3px);
  }
}
.copyright {
  font-size: 1.4rem;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 75%;
  color: $color-secondary; 
}
